In [16]:
# dependencies
import random
import pandas as pd
import requests
import json
import numpy as np
import glob

In [13]:
filename = "2015Q1-capitalbikeshare-tripdata.csv"
#number of records in file (excludes header)
n = sum(1 for line in open(filename)) - 1 
#desired sample size
s = 10000 
#the 0-indexed header will not be included in the skip list
skip = sorted(random.sample(range(1,n+1),n-s)) 
df = pd.read_csv(filename, skiprows=skip)
df.to_csv("sample_2015-2016/2015Q1.csv", index=False)

filename = "2015Q2-capitalbikeshare-tripdata.csv"
#number of records in file (excludes header)
n = sum(1 for line in open(filename)) - 1 
#desired sample size
s = 10000 
#the 0-indexed header will not be included in the skip list
skip = sorted(random.sample(range(1,n+1),n-s)) 
df2 = pd.read_csv(filename, skiprows=skip)
df2.to_csv("sample_2015-2016/2015Q2.csv", index=False)

filename = "2015Q3-capitalbikeshare-tripdata.csv"
#number of records in file (excludes header)
n = sum(1 for line in open(filename)) - 1 
#desired sample size
s = 10000 
#the 0-indexed header will not be included in the skip list
skip = sorted(random.sample(range(1,n+1),n-s)) 
df3 = pd.read_csv(filename, skiprows=skip)
df3.to_csv("sample_2015-2016/2015Q3.csv", index=False)

filename = "2015Q4-capitalbikeshare-tripdata.csv"
#number of records in file (excludes header)
n = sum(1 for line in open(filename)) - 1 
#desired sample size
s = 10000 
#the 0-indexed header will not be included in the skip list
skip = sorted(random.sample(range(1,n+1),n-s)) 
df4 = pd.read_csv(filename, skiprows=skip)
df4.to_csv("sample_2015-2016/2015Q4.csv", index=False)

In [14]:
filename = "2016Q1-capitalbikeshare-tripdata.csv"
#number of records in file (excludes header)
n = sum(1 for line in open(filename)) - 1 
#desired sample size
s = 10000 
#the 0-indexed header will not be included in the skip list
skip = sorted(random.sample(range(1,n+1),n-s)) 
df5 = pd.read_csv(filename, skiprows=skip)
df5.to_csv("sample_2015-2016/2016Q1.csv", index=False)

filename = "2016Q2-capitalbikeshare-tripdata.csv"
#number of records in file (excludes header)
n = sum(1 for line in open(filename)) - 1 
#desired sample size
s = 10000 
#the 0-indexed header will not be included in the skip list
skip = sorted(random.sample(range(1,n+1),n-s)) 
df6 = pd.read_csv(filename, skiprows=skip)
df6.to_csv("sample_2015-2016/2016Q2.csv", index=False)

filename = "2016Q3-capitalbikeshare-tripdata.csv"
#number of records in file (excludes header)
n = sum(1 for line in open(filename)) - 1 
#desired sample size
s = 10000 
#the 0-indexed header will not be included in the skip list
skip = sorted(random.sample(range(1,n+1),n-s)) 
df7 = pd.read_csv(filename, skiprows=skip)
df7.to_csv("sample_2015-2016/2016Q3.csv", index=False)

filename = "2016Q4-capitalbikeshare-tripdata.csv"
#number of records in file (excludes header)
n = sum(1 for line in open(filename)) - 1 
#desired sample size
s = 10000 
#the 0-indexed header will not be included in the skip list
skip = sorted(random.sample(range(1,n+1),n-s)) 
df8 = pd.read_csv(filename, skiprows=skip)
df8.to_csv("sample_2015-2016/2016Q4.csv", index=False)

In [19]:
path = "sample_2015-2016"
all_files = glob.glob(path + "/*.csv")
frame = pd.DataFrame()
list_15_16 = []

for file_ in all_files:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_15_16.append(df)
frame = pd.concat(list_15_16)
frame.to_csv("sample_2015-2016/sample_2015-2016.csv", index=False)

In [20]:
frame.columns

Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')

In [24]:
frame['Years'] = frame["Start date"].str[:4]
frame.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,Years
0,6023,2015-01-01 00:35:55,2015-01-01 02:16:19,31503,Florida Ave & R St NW,31508,Gallaudet / 8th St & Florida Ave NE,W00170,Member,2015
1,717,2015-01-01 01:04:42,2015-01-01 01:16:40,31252,21st St & Pennsylvania Ave NW,31258,Lincoln Memorial,W20243,Member,2015
2,654,2015-01-01 01:13:50,2015-01-01 01:24:44,31603,1st & M St NE,31632,15th & F St NE,W20217,Member,2015
3,418,2015-01-01 01:17:19,2015-01-01 01:24:18,31104,Adams Mill & Columbia Rd NW,31119,14th & Belmont St NW,W00645,Member,2015
4,110,2015-01-01 01:59:03,2015-01-01 02:00:54,31603,1st & M St NE,31603,1st & M St NE,W20703,Member,2015

In [25]:
frame.to_csv("sample_2015-2016/sample_2015-2016_wYears.csv", index=False)